In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sl

## Import Data

In [2]:
# sqlite connection
cnxn=sl.connect('./TTRM')

# dictionary of { table_name: value} pairs
table_names = ['CITY', 'LEGS', 'SCORE', 'TICKETS']
tables_dict = { table_name: pd.read_sql( 
                                            'SELECT * FROM ' + table_name
                                            , cnxn
                                        ) 
                       for table_name in table_names }

### Preview first 5 rows of the tables

In [3]:
for i in tables_dict:
    print( i,'\n', tables_dict[i].head(5), '\n\n' )

CITY
          CITY   STATE DEGREE        LAT         LON
0     Atlanta      GA      7  33.762909  -84.422675
1      Boston      MA      4  42.360100  -71.058900
2     Calgary   CA-BC      4  51.044270 -114.062019
3  Charleston      SC      3  32.776500  -79.931100
4     Chicago      IL      7  41.878100  -87.629800


LEGS
        OCITY     DCITY ROUTE_COLOR  NUM_CARS
0  Vancouver   Calgary        Gray         3
1  Vancouver   Seattle        Gray         1
2  Vancouver   Seattle        Gray         1
3    Seattle  Portland        Gray         1
4    Seattle  Portland        Gray         1


SCORE
    NUM_CARS  POINTS
0         1       1
1         2       2
2         3       4
3         4       7
4         5      10


TICKETS
      OCITY           DCITY  POINTS
0   Boston           Miami      12
1  Calgary         Phoenix      13
2  Calgary  Salt Lake City       7
3  Chicago     New Orleans       7
4  Chicago        Santa Fe       9

In [7]:
# verify that city sets match
city_cities = set( tables_dict['CITY']['CITY'])
legs_cities = set( tables_dict['LEGS']['OCITY'] ) | set( tables_dict['LEGS']['DCITY'] )

for city in city_cities:
    if city not in legs_cities:
        print( "DATA MISMATCH: city", city, "is present in city table but not in legs table")
        
for city in legs_cities:
    if city not in city_cities:
        print( "DATA MISMATCH: city", city, "is present in legs table but not in city table")
        
assert( city_cities == legs_cities)

In [13]:
# verify that the number of cities in the city table matches the count of cities on the gameboard (36)

In [ ]:
# verify that the number of distinct cities in the legs table matches the count of cities on the gameboard(36)

In [14]:
# verify that out-degree in city table matches number of appearances in legs table

In [9]:
# verify that number of routes of color c matches the total number of appearances in legs table (requires validation table: number of legs by color)

In [10]:
# verifty that sums of lengths of routes by color c matches the number of spots on the game board (requires validation table: number of spots of color on gameboard)

In [11]:
# verify that latitudes and longitudes are reasonable (within the continental United States/Canada)

In [12]:
# verify that the number of tickets matches the number in the gamebox (# of tickets from box== )