In [19]:
import pandas as pd
import numpy as np
import sqlite3 as sl

## Import Data

In [36]:
# sqlite connection
cnxn=sl.connect('./TTRM')

# dictionary of { table_name: value} pairs
table_names = ['CITY', 'LEGS', 'SCORE', 'TICKETS']
tables_dict = { table_name: pd.read_sql( 
                                            'SELECT * FROM ' + table_name
                                            , cnxn
                                        ) 
                       for table_name in table_names }

### Preview first 5 rows of the tables

In [40]:
for i in tables_dict:
    print( i,'\n', tables_dict[i].head(5), '\n\n' )

CITY
          CITY   STATE DEGREE        LAT         LON
0     Atlanta      GA      7  33.762909  -84.422675
1      Boston      MA      4  42.360100  -71.058900
2     Calgary   CA-BC      4  51.044270 -114.062019
3  Charleston      SC      3  32.776500  -79.931100
4     Chicago      IL      7  41.878100  -87.629800


LEGS
        OCITY     DCITY ROUTE_COLOR  NUM_CARS
0  Vancouver   Calgary        Gray         3
1  Vancouver   Seattle        Gray         1
2  Vancouver   Seattle        Gray         1
3    Seattle  Portland        Gray         1
4    Seattle  Portland        Gray         1


SCORE
    NUM_CARS  POINTS
0         1       1
1         2       2
2         3       4
3         4       7
4         5      10


TICKETS
      OCITY           DCITY  POINTS
0   Boston           Miami      12
1  Calgary         Phoenix      13
2  Calgary  Salt Lake City       7
3  Chicago     New Orleans       7
4  Chicago        Santa Fe       9